/***** GENERAL STYLING *****/
/* Body */
body {
  margin: 0%; /* ensures site displays at top of the browser screen */
}

/* Heading 1 elements */
h1 {
  text-transform: uppercase; /* Capitalizes all <h1>s */
  font-family: "Trebuchet MS", Optima; /* Sets the font family of all <h1>s */
  text-align: center; /* Centers all <h1>s */
  margin-top: 3%; /* Adds a small margin above all <h1>s */
  color: #1a1a1a;
}

/* Heading 1 element hover effect */
h1:hover {
  filter: grayscale(5%); /* Adds a slightly grey filter to the <h1>s when hovered over */
  transform: scale(1.1); /* Increases <h1>s in size by x1.1 when hovered over */
  transition: transform 1s; /* This causes the transformation to last 1 second */
}

/* Styling for portfolio title text */
.white-text {
  color: #fff; /* Changes the color of the portfolio title's text */
}

/* Paragraph elements */
p {
  font-family: Perpetua, Rockwell Extra Bold;
  text-align: justify; /* Justify text within <p>s */
  letter-spacing: 1px; /* Expands text slightly */
  font-size: 20px;
  padding-left: 20px; /* Adds padding to the left of <p>s */
  padding-right: 20px; /* Adds padding to the right of <p>s */
}

/* Paragraph element hover effect */
p:hover {
  transition: trasnform 1s; /* Tansform effect to last 1 second */
  transform: scale(1.01); /* <p>s increase slightly in size when hovered over */
}

/* "Center" class elements */
.center {
  text-align: center; /* Centers the text */
}

/* Center class hover effects - ONLY affects the quote, GitHub link, & footer */
.center:hover {
  transition: transform 2s; /* Transform effect lasts 2 seconds */
  transform: scale(1.1); /* .center elements increase in size by x1.1 when hovered over */
}

/* Anchor elements */
a {
  color: blue; /* Ensures all links are blue */
}

/* Quotation elements */
q {
  font-style: italic; /* Italicizes the quote */
}

/* Image elements */
img {
  filter: grayscale(75%); /* Rids pictures of 75% of their color */
  border-radius: 8px; /* Gives all images slightly rounded corners */
  max-width: 100%; /* Ensures all images stay within the width of their container */
  height: 340px; /* Sets the height of all images */
  display: block; /* Specifying "BLOCK" display to ensure images can be centered */
  margin-left: auto; /* IN combination with "margin-right", this centers all images */
  margin-right: auto;
}
