/***** GENERAL STYLING *****/
/* Body */
body {
  margin: 0%; /* ensures site displays at top of the browser screen */
}

/* <h1> elements */
h1 {
  text-transform: uppercase; /* Capitalizes all <h1>s */
  font-family: "Trebuchet MS", Optima; /* Sets the font family of all <h1>s */
  text-align: center; /* Centers all <h1>s */
  margin-top: 3%; /* Adds a small margin above all <h1>s */
  color: #1a1a1a;
}

/* <h1> element hover effect */
h1:hover {
  filter: grayscale(5%); /* Adds a slightly grey filter to the <h1>s when hovered over */
  transform: scale(1.1); /* Increases <h1>s in size by x1.1 when hovered over */
  transition: transform 1s; /* This causes the transformation to last 1 second */
}

/* Styling for portfolio title text */
.white-text {
  color: #fff; /* Changes the color of the portfolio title's text */
}

/* <p> elements */
p {
  font-family: Perpetua, Rockwell Extra Bold;
  text-align: justify; /* Justify text within <p>s */
  letter-spacing: 1px; /* Expands text slightly */
  font-size: 20px;
  padding-left: 20px; /* Adds padding to the left of <p>s */
  padding-right: 20px; /* Adds padding to the right of <p>s */
}

/* <p> element hover effect */
p:hover {
  transition: trasnform 1s; /* Tansform effect to last 1 second */
  transform: scale(1.01); /* <p>s increase slightly in size when hovered over */
}

/* CENTER class elements */
.center {
  text-align: center; /* Centers the text */
}

/* CENTER class hover effects - ONLY affects the quote, GitHub link, & footer */
.center:hover {
  transition: transform 2s; /* Transform effect lasts 2 seconds */
  transform: scale(1.1); /* .center elements increase in size by x1.1 when hovered over */
}

/* <a> elements */
a {
  color: blue; /* Ensures all links are blue */
}

/* <q> elements */
q {
  font-style: italic; /* Italicizes the quote */
}

/* <img> elements */
img {
  filter: grayscale(65%); /* Rids pictures of 65% of their color */
  border-radius: 8px; /* Gives all images slightly rounded corners */
  max-width: 100%; /* Ensures all images stay within the width of their container */
  height: 340px; /* Sets the height of all images */
  display: block; /* Specifying "BLOCK" display to ensure images can be centered */
  margin-left: auto; /* IN combination with "margin-right", this centers all images */
  margin-right: auto;
}

/* <img> element hover efects */
img:hover {
  filter: grayscale(5%); /* Brings back most of the <img>'s color when hovered over */
  transition: transform 1s; /* Transform effect lasts 1 second */
  transform: scale(1.1); /* <img> elements increase in size by x1.1 when hovered over */
}

/* The @media rule is used in media queries to apply different styles for different media/ypes of devices */
/* On screens 576px & smaller, the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
  img {
    height: 100px;
    margin-top: 150px;
  }
}

/* Styling for <footer> */
footer {
  padding: 2%; /* <footer>'s padding == 2% of the width of the element's area */
  background-color: white;
}
/*****  END OF GENERAL STYLING  *****/

/***** NAVBAR STYLING  *****/
.Navbar {
  overflow: hidden; /* Ensures that any content which overflows beyond the boundary of the NAVBAR isn't displayed */
  background-color: black; /* Colors the NAVBAR */
  position: fixed; /* Keeps the NAVBAR at the top of the screen while user scrolls */
  top: 0; /* Ensures no space is displayed above the NAVBAR */
  width: 100%; /* Makes the NAVBAR span the entire width of page */
  z-index: 1; /* Ensures other elements dont' display over the NAVBAR */
  -webkit-animation: moveNav 2s; /* Applies the moveNav animation below for Safari 4.0 - 8.0 */
  animation: moveNav 2s; /* Applies the moveNav amimation for all other browsers */
}

/* moveNav animation effect for moving the NAVBAR in from the left of the screen */
@keyframes moveNav {
  from {
    left: -100vw;
  } /* The NAVBAR starts off-screen, to the left */
  to {
    left: 0vw;
  } /* This moves the NAVBAR into place on the screen */
}

/* Navbar Links */
.Navbar a {
  float: left; /* Specifies that the text floats on the left of the navbar */
  display: block; /* Ensures that the text will be displayed on the same line or row, instead of a new line */
  color: white; /* Navbar text's font color */
  padding: 14px 16px; /* Adds padding around the navbnar text */
  text-decoration: none; /* Gets rids of the underlines under the <a> links */
  font-family: Avant Garde, Helvetica; /* Specifies the font family for Navbar text */
  font-size: 20px; /*Specifies font size of Navbar text */
  text-align: center; /* Centers the text within its container */
  position: relative; /* Sets the text relative to its normal positioning, allowing use of the animation below */
  -webkit-animation: moveNavText 2.75s; /* Animation for Safari 4.0 - 8.0 */
  animation: moveNavText 2.75s; /* Applies the moveNavText animation for 2.75s */
}
/* moveNavText animation effect for moving the Navbar text from above the view to the Navbar */
@keyframes moveNavText {
  from {
    top: -100vw;
  } /* Sets the Navbar text 100% above the viewport */
  to {
    top: 0vw;
  } /* Lowers the Navbar's text onto the Navbar */
}
