/* from Steps 181 & 195*/

p {
	color: lightblue;
	background-color: darkblue;
	font-size: medium;
	text-align: center;
	}
div {
	color: tan;
	text-align: center;
	font-size: 600%;
	text-shadow: 2px 4px 2px black;
}
a {
	color: white;
	text-decoration: none;
}